body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sideBar{
  height: 100vh;
  margin-left: -190px;
  margin-top: -85px;
  padding-top: 70px;
  background-color: #777777;
  position: fixed;
}
.sidebartxt{
  color: white;
  font-style: italic;
  font-size: 30px;
}
.sidebartxt:hover{
  background-color: dimgrey;
  color: white;
  margin-left: 40px;
  border-radius: 30% 2%;
}
@keyframes animate{
  from { border-radius: white; }
  to { border-radius: 2.25rem }
}

.btn2:hover{
  
  transition: border-radius 2.5s ease-in-out ;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
}
.inputlogin{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  outline: 0;
}
.inputlogin:focus{
  border-radius: 10px;
}
.btnLogIn{
  width: 170px;
  
}
.bg{
  background-image: linear-gradient(
45deg
, #8898b4, transparent);
  
}
.imgcard{
  height: 165px;
    width: 120px;
    border-radius: 50%;
}